---
import Layout from '../layouts/Layout.astro';
import Leaderboard from '../components/Leaderboard.astro';
---

<Layout title='| Snap Tournament'>
  <article class='flex flex-col justify-center items-center'>
    <section>
      <p class='text-center p-4 m-4 w-[30cm] text-pretty'>
        ¡Bienvenidos, héroes y villanos, al épico torneo de cartas Marvel SNAP!
        <br /><br />

        Prepárate para sumergirte en el emocionante universo de Marvel como
        nunca antes. En este torneo de cartas único, los personajes icónicos de
        Marvel cobran vida en cada mazo y estrategia. Desde los héroes más
        valientes hasta los villanos más astutos, todos se reúnen en un
        enfrentamiento épico donde solo los más hábiles y astutos prevalecerán.
        <br /><br />

        Explora la diversidad de poderes, habilidades y tácticas estratégicas
        mientras construyes tu mazo con personajes legendarios como Iron Man,
        Spider-Man, Thanos y muchos más. ¿Serás capaz de aprovechar al máximo
        las habilidades de tus cartas y liderar a tus personajes hacia la
        victoria?
        <br /><br />

        Únete a nosotros para vivir la emoción, la estrategia y la camaradería
        en el torneo Marvel SNAP. ¡Que comiencen las batallas de cartas en el
        fascinante universo de Marvel! ¿Estás listo para mostrar tus habilidades
        y reclamar la victoria? ¡Que empiece la batalla!
      </p>
    </section>
    <section>
      <Leaderboard />
    </section>
  </article>
</Layout>

<style>
  section {
    margin: 0 auto;
  }
</style>
