---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Leaderboard from "../components/Leaderboard.astro";
---

<Layout title="| Snap Tournament">
  <Header />
  <main>
    <Leaderboard />
  </main>
</Layout>
