---
import Layout from '../layouts/Layout.astro';
---

<Layout title='| Tournament'>
  <main>
    <section>
      <p>Hall of Fame</p>
      <ul>
        <li>Dante</li>
      </ul>
    </section>
    <section>
      <iframe
        src='https://challonge.com/es/1zjihwsp/module'
        width='100%'
        height='500'
        frameborder='0'
        scrolling='auto'
        allowtransparency='true'></iframe>
    </section>
  </main>
</Layout>
