---
import Layout from '../layouts/Layout.astro';
---

<Layout title='| Tournament'>
  <main>
    <section>
      <p>Hall of Fame</p>
      <ul class='list-disc ml-5'>
        <li>Dante</li>
      </ul>
    </section>
    <section>
      <iframe
        src='https://challonge.com/es/1zjihwsp/module'
        width='100%'
        height='500'
        frameborder='0'
        scrolling='auto'
        allowtransparency='true'></iframe>
    </section>
    <section>
      <h3>Normas del Torneo</h3>
      <ul class='list-disc ml-5'>
        <li>Cada partido es al mejor de 3.</li>
        <li>Las fechas se establecerán por los propios participantes.</li>
        <li>
          Los dos últimos en la tabla al finalizar las 10 rondas quedan
          desclasificados.
        </li>
        <li>Los 4 ganadores pasarán a la fase eliminartoria (Torneo)</li>
      </ul>
    </section>
  </main>
</Layout>
