---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header>
  <nav class='flex justify-around w-full text-3xl font-[jura] font-extrabold'>
    <div>
      <ul>
        <li>
          <a class={currentPath == '' ? 'active' : ''} href='/'>Inicio</a>
        </li>
        <li>
          <a class={currentPath.includes('info') ? 'active' : ''} href='/info'
            >Info</a
          >
        </li>
      </ul>
      <hr class='w-[16.55cm]' />
    </div>
    <img
      src='https://esportscityleague.es/wp-content/uploads/2023/03/AnyConv.com__1643367095102_s1069673-1024x512.webp'
      alt='Logo'
      class='h-[5cm]'
    />
    <div>
      <ul>
        <li>
          <a
            class={currentPath.includes('tournament') ? 'active' : ''}
            href='/tournament'>Torneo</a
          >
        </li>
        <li>
          <a class={currentPath.includes('shop') ? 'active' : ''} href='/shop'
            >Tienda</a
          >
        </li>
      </ul>
      <hr class='w-[18.35cm]' />
    </div>
  </nav>
</header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

  ul {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
  }
  li {
    padding-bottom: 1rem;
  }
  a {
    padding: 1rem 3.2cm;
  }

  div {
    width: 100%;
  }
  hr {
    margin: 0 auto;
    height: 0.25rem;
    background-color: #333;
    border: none;
  }

  a:hover {
    color: var(--light);
    font-weight: bold;
  }

  .active {
    font-weight: bold;
    background-color: #333;
  }

  @media (max-width: 1200px) {
    header {
      flex-direction: column;
    }
  }
</style>
