---

---

<header class="p-4 flex justify-between items-center">
  <h1 class="font-[unbounded] text-center font-bold text-2xl text-[--light]">
    Snap Tournament
  </h1>
  <nav class="text-xl">
    <ul class="flex">
      <li><a href="#">Misiones</a></li>
      <li><a href="#">Tienda</a></li>
    </ul>
  </nav>
</header>

<style>
  li {
    padding: 0 2rem;
  }

  li:hover {
    color: var(--light);
  }
</style>
